<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/assets/bootstrap.css">
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/"><%= @title %></a>
        <%= if @current_user do %>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= @current_user.id %>">My Statuses</a></li>
              <li><a href="/sessions/destroy">Logout</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav">
          <li><a href="/statuses/new">New Status</a></li>
        </ul>
        <%= else %>
        <ul class="nav">
          <li><a href="/sessions/new">Login</a></li>
          <li><a href="/users/new">Register</a></li>
        </ul>
        <%= end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <%= content_for(:template) %>
  </div>
  <script src="/static/assets/base.js" ></script>
  <script src="/static/jquery.timeago.js" ></script>
  <script>
  jQuery(document).ready(function() {
    jQuery("abbr.timeago").timeago();
  });
  </script>
</body>
</html>
