<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stalk Me!</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Stalk Me!</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= if @current_user do %>
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= @current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= @current_user.id %>">My Statuses</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><a href="/sessions/new">Login</a></li>
            <li><a href="/users/new">Register</a></li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <%= @inner %>
  </div>
  <script src="/js/app.js" ></script>
</body>
</html>
